<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Acquisti</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Fontawesome icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 'js/scripts.js' %}"></script>
</head>

<body>

    <!-- Top Header -->
    <div class="col-12 text-light" style="background-color: #1aa7ec;">
    <div class="container">
        <div class="row" style="background-color: #1aa7ec;">
            <div class="col-6 py-1">
                <h1><a class="logo-acq text-light" href="/"> ACQUISTI </a></h1>
            </div>
            <div class="col-6 text-end py-3">
                {% if query_set %}
                {% for qs in query_set %}
                {{ qs.fname }}
                {% endfor %}
                {% endif %}
                <a href="../signin/" class="text-light"> Sign In</a> | <a href="../signup/" class="text-light"> Sign Up</a>
            </div>
        </div>
    </div>
    </div>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Best Sellers</a></li>
                    <li class="nav-item"><a class="nav-link" href="../mobiles/">Mobiles</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Fashion</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Electronics</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Grocery</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#!">All Products</a></li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                            <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#!">Top Offers</a></li>
                </ul>
                <form class="d-flex">
                    <button class="btn btn-outline-dark" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                    </button>
                </form>
            </div>
        </div>
    </nav>


    {% block body_content %}
    {% endblock %}
</body>

<footer class="py-5 bg-light text-dark ft-h">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-4 col-12 h-100 py-2 pe-5 text-start"> 
                <h3>ACQUISTI</h3>
                <p class="mb10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <p><i class="fa fa-location-arrow"></i> 9878/25 sec 9 rohini 35 </p>
                <p><i class="fa fa-phone"></i>  +91-9999878398  </p>
                <p><i class="fa fa fa-envelope"></i> info@example.com  </p>
            </div>
            <div class="col-lg-2 col-12 h-100 py-2 text-start">
                <h6 class="mb-3">Connect with Us</h6>
                    <p class="mb10"><a href="#"><i class="fab fa-instagram fleft padding-right"></i></a> <a>Instagram</a></p>
                    <p><a href="#"><i class="fab fa-facebook fleft padding-right"></i></a> <a>Facebook</a></p>
                    <p><a href="#"><i class="fab fa-twitter fleft padding-right"></i></a> <a>Twitter</a></p>
            </div>
            <div class="col-lg-3 col-12 h-100 py-2 text-start"> 
                <h6 class="mb-3">Make Money with Us</h6>
                <p class="mb10">Sell on Amazon</p>
                <p>Sell under Amazon Accelerator</p>
                <p>Amazon Global Selling </p>
                <p>Become an Affiliate</p>
                <p>Fulfilment by Amazon</p>
                <p>Advertise Your Products</p>
                <p>Amazon Pay on Merchants</p>
            </div>
            <div class="col-lg-3 col-12 h-100 py-2 text-start">                
                <h6 class="mb-3">Let Us Help You</h6>
                <p>COVID-19 and Acquisti</p>
                <p>Your Account</p>
                <p>Returns Centre</p>
                <p>100% Purchase Protection</p>
                <p>Acquisti App Download</p>
                <p>Help</p>
            </div>
        </div>
    </div>
</footer>
<div class="col-12 pt-3" style="height: 50px; background-color: #1aa7ec;">
    <p class="m-0 text-center text-light">Copyright &copy; Acquisti 2022 | Powered by <span>Mohit</span> and <span>Rimal</span></p>
</div>

</html>