{% extends 'base.html' %}
{% load static %}
{% block body_content %}

<div class="col-12" style="height: 470px;">
    <div class="container h-100 pb-3">
        <div class="col-lg-4 col-8 bg-light mx-auto mt-3 h-100 login-div text-center p-4">
            <h1 class="text-dark">Sign Up</h1>

            <form method="post">
                <div class="col-12 pt-3">
                    <input type="text" class="form-control" placeholder="Username" required="">
                </div>
                <div class="col-12 pt-3">
                    <!-- <label>User Name</label> -->
                    <input type="password" class="form-control" placeholder="Password" required="">
                </div>
                <div class="col-12 pt-3 text-start">
                    <span style="font-size: 12px; color: #878787;">By continuing, you agree to Acquisti's <a href="#">Conditions of Use </a> and <a href="#">Privacy Notice</a>.</span>
                </div>
                <div class="col-12 pt-3">
                    <button class="btn text-light form-control" style="background-color: #1aa7ec;"> Sign Up </button>
                </div>

            </form>
            <div class="col-12 pt-3">
                <span style="font-size: 12px; color: #878787;">
                    Already have account? <a href="../signin/">Login In</a>
                </span>
            </div>

            <div class="col-12 pt-3">
                <h6 style="color: #878787;"> OR </h6>
            </div> 

            <div class="col-12 pt-3">
                <h6 style="color: #878787;"> Google </h6>
            </div> 
        </div>
    </div>
</div>

{% endblock %}